@import "./container.scss";

footer {
  grid-area: foot;
  justify-self: center;
  align-self: center;
  text-align: center;
  padding-bottom: 4rem;

  & a {
    padding-left: .5rem;
    font-size: 0.75em;
    color: $color-Brown;
  }
  & a:hover{
    color: darken($color-Brown,20%);
  }
  & p{
    color: $color-Brown;
    font-size: 0.75em;
  }
}
