@import "./container.scss";

#title {
  grid-area: head;
  @include justify;
  margin-top: 5rem;
  border: .3rem solid $color-Brown;
  background-color: $color-Brown;
  & h1 {
    @include textLook(8);
    @include styler;
    padding: 2rem;
    text-shadow: .02rem .02rem .04rem #000000;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 2.3rem;  
    text-shadow: 0.2rem 0.2rem 0.4rem #000000;
    @include respond(tab-land) {
      font-size: 6rem;
    }
    @include respond(tab-port) {
      font-size: 4rem;
    }
    @include respond(phone) {
      font-size: 3rem;
    }

  }
}
