@import "./container.scss";

div {
  grid-area: head;
  @include justify;
  margin-top: 5rem;
  
  & h1 {
    @include textLook(8);
    @include styler;
    padding: 2rem;
    text-shadow: .02rem .02rem .04rem #000000;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 2.3rem;  
    @include respond(tab-land) {
      font-size: 6rem;//1 rem = 9px, 9/16 = 50%
    }
    

  }
}
