@import "./container.scss";
#sec {
  grid-area: midleft;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: auto;
}
img {
  order: 1;
  margin-left: 60px;
  margin-top: 20px;
  @include styler;
  border-radius: 12px;

}

#status {
  order: 2;
  font-size: 20px;
  margin-top: 30px;
  margin-left: 10px;
  width: 100%;
  color: $color-Brown;
  text-shadow: 2px 2px 4px #000000;
}
#ankor{
  order: 3;
  margin-left: 10px;
  color: $color-Brown;
}