@import "./container.scss";



#sec1 {
  grid-area: midright;
  padding-left: 4rem;
  @include flexCall;
  border-left: .3rem solid $color-Brown;
  @include respond(tab-land) {
    border-left: 0rem solid transparent; 
  }
  @include respond(tab-port) {
    border-top: .3rem solid $color-Brown; 
  }
}

#gen{
  margin-top: 10%;
}
button {
  order: 7;
  font-size: 1.5rem;
  margin: 2%;
  width: 50%;
  align-self: center;
  padding: .7rem 1.5rem;
  background: $color-Brown;
  color: $color-Almond;
  border-color: $color-Almond;
  outline: none;
  text-transform: uppercase;
  &:hover {
    background-color: darken($color-Brown, 15%);
  }
  &:active {
  box-shadow: 0 .5rem #2c2c25;
  transform: translateY(4px);
  }
  box-shadow: 0.25rem 0.25rem 0.25rem $color-ShadowBrown;
  border-radius: 10px;
  
}


p{
  text-shadow: .2rem .2rem .4rem #000000;
  padding-top: 1.5rem;
  font-size: 1.75rem;
  color: $color-Brown;
  margin-left: 3rem;
}


#lbl1 {
  order: 1;
  padding-top: 3rem;
  
}

#lbl {
  order: 3;
  
}
#lbl2 {
  order: 2;
}

input {
  font-size: 1rem;
  padding: .7rem 1.5rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  border-radius: 1.2rem;
  background-color: darken($color: $color-Almond, $amount: 15%);
  box-shadow: 0.12em 0.12em 0.12em $color-ShadowBrown;
  width: 50%;
  align-self: center;
  & [type="text"] {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  &[type="text"]:focus {
    width: 100%;
  }
}

#in1 {
  order: 4;
}
#in {
  order: 5;
}


#fmt{
  order: 6;
  display: none;
  font-size: 1.5rem;
  align-self: center;
  color: $color-Brown;
}