@import "./container.scss";
#sec {
  grid-area: midleft;
  @include justify;
  @include flexCall;
  justify-content: space-between;
}
img {
  order: 1;
  margin-left: 6rem;
  margin-top: 2rem;
  @include styler;
  border-radius: 1.2rem;
  border: 0.3rem solid $color-Brown;
  @include respond(tab-port) {
    margin-top: 6rem;
  }
  @include respond(tab-port) {
    @include justify;
    margin-left: 0rem;
  }
}

#status {
  order: 2;
  font-size: 1.75rem;
  margin-top: 3rem;
  margin-left: 1rem;
  width: 100%;
  color: $color-Brown;
  text-shadow: 0.2rem 0.2rem 0.4rem #000000;
  @include respond(tab-port) {
    @include justify;
  }
}
#ankor {
  order: 3;
  margin-left: 1rem;
  color: $color-Brown;
}
